.card {
    padding: 0;
}
.btn-outline-warning:hover {
    color: white !important;
}
/*//////////////////////////// DARKMODE ////////////////////////////*/
.light {
    --font-color: #333;
    --font-color-opacity: rgba(45, 45, 45, 0.85);
    --background-color: #eee;
    --background-color-light: #dddddd;
    /* --color-dark: rgb(23, 25, 26); */
    --color-dark: #333;
    --link-color: cornflowerblue;
    --bg-dark: #646464;
}
.dark {
    --font-color: #eee;
    --font-color-opacity: rgba(241, 241, 241, 0.85);
    --background-color: rgb(23, 25, 26);
    --background-color-light: #212529;
    --color-dark: #4c4c4c;
    --link-color: lightblue;
    --bg-dark: #212529;
}
.darkmodeButton {
    display: flex;
    align-items: center;
}
/* custom checkbox*/
.switch {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #303030;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.switch:after {
    position: absolute;
    left: 20px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: black;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    content: '';
    transition: all 0.3s ease;
}
.switch:active:after {
    transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
    background: #ebebeb;
}
.cbx:checked ~ label:after {
    left: -2px;
    background: #ffffff;
}
.cbx:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}
.cbx:disabled ~ label:after {
    background: #bcbdbc;
}
.hidden {
    display: none;
}

body {
    /* font-family: Bank Gothic Font, sans-serif; */
    font-family: D-DIN-Regular, Arial, Verdana, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}
.btnRetour {
    --bs-link-underline-opacity: 0;
    text-decoration: none;
    font-size: 1.4rem;
}
.card {
    padding: 0;
}
footer {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* ------ NAVBAR ------ */
.navbar {
    background-color: var(--bg-dark) !important;
}
.navbar-nav {
    font-size: 0.9rem;
    margin-top: 17px;
}
.navbar-brand > img {
    width: 200px;
    height: auto;
}
.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--font-color) !important;
}
.nav-link {
    color: var(--font-color);
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    margin: 0 12px;
    padding: 0 0 2px 0;
    text-transform: uppercase;
}
.beautifulBorder::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease;
}
.beautifulBorder:hover::after,
.beautifulBorder:focus::after {
    width: 100%;
}
.beautifulBorder:hover,
.beautifulBorder:focus {
    outline: none;
}
.beautifulBorder::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease;
}
.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}
.nav-link:hover,
.nav-link:focus {
    outline: none;
}

/*//////////////////////////// HOME //////////////////////////*/
.fullSizeSection {
    height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*//////////////////////////// ENTREPRISE //////////////////////////////*/
/* .fond {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/151/684/64/spacex-rocket-falcon-9-long-exposure-wallpaper-preview.jpg);

    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform
} */
.divEntreprise {
    position: absolute;
}
.spaceX {
    letter-spacing: 0.08rem;
    font-weight: 200;
}
.company-info {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-dark);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    opacity: 0.9;
  }
.company-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info {
    margin-bottom: 10px;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
.summary {
    margin-top: 20px;
}
.valuation {
    margin-top: 10px;
}
.executives {
    margin-top: 20px;
}
.useful-links {
    margin-top: 20px;
}
.useful-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}
.useful-links a:hover {
    text-decoration: underline;
}

/*//////////////////////////// EQUIPAGE ////////////////////////////*/
/* ------ FILTRE ------ */
.searchBar {
    align-items: center;
    background: #fff none repeat scroll 0 0 / auto padding-box border-box;
    border-radius: 26px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    display: flex;
    height: 52px;
    margin: 0 0 22.4px;
    padding: 0;
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}
#search {
    border-radius: 20px;
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
#search:focus {
    box-shadow: none;
}
.fa-magnifying-glass {
    font-size: 25px;
}
.errorFiltre {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
/* ------ EQUIPAGE ------ */
.listCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.liEquipage {
    padding: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--bg-dark);
    border-radius: 1.5rem;
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-top-width: thin !important;
}
.liEquipage:first-child {
    border-top-right-radius: 1.5rem;
}
.cardImage {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 80px;
    height: auto;
}
.faCircle {
    font-size: 0.7rem;
}
.faChevron {
    color: black;
    font-size: 1.6rem;
}
/* ------ MEMBRE ------ */
.cardMembre {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.cardImageMembre {
    width: 20rem;
    height: auto;
}
.nomMembre {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.03em;
}
.agencyIcon {
    width: 50px;
    height: auto;
}
.agencyIcon2 {
    width: auto;
    max-width: 100px;
    height: auto;
}
.faWikipedia {
    font-size: 36px;
}

/* ////////////////////////////////// QUIZ /////////////////////////////////////// */
.quiz-result {
    margin-top: 2rem;
}

.titreResult {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.question-list {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
}

.question-card {
    background-color: var(--background-color-light);
    border-radius: 0.5rem;
    padding: 0;
    margin-bottom: 1.5rem;
}

.card-header {
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px #333;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    padding-bottom: 4px;
}

.reponse-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reponse-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 1rem;
}

.reponse-text {
    margin-right: 0.5rem;
}

.titreResult {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0em;
}
.textBR {
    font-size: 0.9rem;
    color: var(--font-color-opacity);
}
.trueResponse {
    background-color: #25d53ac1;
}
.falseResponse {
    background-color: #e83838c2;
}

.trueResponse,
.falseResponse {
    color: var(--font-color-opacity);
    font-weight: bold;
}

.reponse-indicator {
    font-size: 0.8rem;
    color: #333;
}
.iconQuiz {
    font-size: 1.4rem;
}
/* ---------------- SCROLLBAR ---------------- */
::-webkit-scrollbar {
    width: 17px;
    padding: 0;
    margin: 0;
    background-color: rgba(34, 37, 38, 1);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(72, 78, 81, 1);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(91, 98, 101);
}
/* Mozilla Firefox */
html {
    scrollbar-color: rgba(34, 37, 38, 1) rgba(72, 78, 81, 1);
}
.bodyDiscussion {
    scrollbar-width: thin;
    scrollbar-color: #343a40 transparent;
}
