/*//////////////////////////// DARKMODE ////////////////////////////*/
.light {
    --font-color: #333;
    --background-color: #eee;
    /* --color-dark: rgb(23, 25, 26); */
    --color-dark: #333;
    --link-color: cornflowerblue;
    --bg-dark: #d3d3d3;
}
.dark {
    --font-color: #eee;
    --background-color: rgb(23, 25, 26);
    --color-dark: #4c4c4c;
    --link-color: lightblue;
    --bg-dark: #212529;
}

body {
    /* font-family: Bank Gothic Font, sans-serif; */
    font-family: D-DIN-Regular, Arial, Verdana, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}
.btnRetour {
    --bs-link-underline-opacity: 0;
    text-decoration: none;
    font-size: 1.4rem;
}
.navbar-brand > img {
    width: 140px;
    height: auto;
}
footer {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* ------ NAVBAR ------ */
.navbar {
    background-color: var(--bg-dark) !important;
}
.nav-link {
    color: var(--font-color);
}

/*//////////////////////////// EQUIPAGE ////////////////////////////*/
/* ------ FILTRE ------ */
.searchBar {
    align-items: center;
    background: #fff none repeat scroll 0 0 / auto padding-box border-box;
    border-radius: 26px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    display: flex;
    font-family: Poppins, sans-serif;
    height: 52px;
    margin: 0 0 22.4px;
    padding: 0;
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}
#search {
    border-radius: 20px;
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
#search:focus {
    box-shadow: none;
}
.fa-magnifying-glass {
    font-size: 25px;
}
.errorFiltre {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
/* ------ EQUIPAGE ------ */
.listCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.liEquipage {
    padding: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--bg-dark);
    border-radius: 1.5rem;
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-top-width: thin !important;
}
.liEquipage:first-child {
    border-top-right-radius: 1.5rem;
}
.cardImage {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 80px;
    height: auto;
}
.faCircle {
    font-size: 0.7rem;
}
.faChevron {
    color: black;
    font-size: 1.6rem;
}
/* ------ MEMBRE ------ */
.cardMembre {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.cardImageMembre {
    width: 20rem;
    height: auto;
}
.nomMembre {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.03em;
}
.agencyIcon {
    width: 50px;
    height: auto;
}
.agencyIcon2 {
    width: auto;
    max-width: 100px;
    height: auto;
}
.faWikipedia {
    font-size: 36px;
}
